# Stripe API keys - 'sk_test_51H7FgwE43LVitc1Jx9gNJjpVseLKq9l74ti447ttC6ZLjSdQMNmrxs9HuGYPWT33RRFzsWHmLLhtVWYAkY6PNEz100KLyo0d8k'
STRIPE_PUBLISHABLE_KEY=pk_test_51H7FgwE43LVitc1JIaY0JXiqC3r85ltfLwuU5ySp06VJNZJ5NHzpM9PXz1SBDLhkTRDaZR7MUfnQ5uvJxJABtTBI00ud58y36F
STRIPE_SECRET_KEY=sk_test_51H7FgwE43LVitc1Jx9gNJjpVseLKq9l74ti447ttC6ZLjSdQMNmrxs9HuGYPWT33RRFzsWHmLLhtVWYAkY6PNEz100KLyo0d8k